<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.coffee.mapper.OrderItemMapper">

    <!-- 주문 취소 시 order_id를 이용하여 order_item 객체 리스트를 얻어오는 sql -->
    <select id="getOrderItems" parameterType="OrderItemDTO" resultType="OrderItemDTO">
        select *
        from order_item
        where order_id=#{order_id}
    </select>

    <!-- 주문 취소 시 seq를 이용하여 order_item 테이블의 객체를 삭제하는 sql -->
    <delete id="delete" parameterType="OrderItemDTO">
        delete from order_item
        where seq=#{seq}
    </delete>

    <insert id="insert" parameterType="OrderItemDTO">
        INSERT INTO order_item (order_id, product_id, count)
        VALUES (#{order_id}, #{product_id}, #{count})
    </insert>


    <insert id="add" parameterType="OrderDTO" useGeneratedKeys="true" keyProperty="order_id">
        INSERT INTO orders (email, address, zipcode, order_time, order_status, total_price)
        VALUES (#{email}, #{address}, #{zipcode}, #{order_time}, #{order_status}, #{total_price})
    </insert>
</mapper>