<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.coffee.mapper.OrderItemMapper">

    <!-- 주문 취소 시 order_id를 이용하여 order_item 객체 리스트를 얻어오는 sql -->
    <select id="getOrderItems" parameterType="orderItemDto" resultType="orderItemDto">
        select *
        from order_item
        where order_id=#{order_id}
    </select>

    <!-- 주문 취소 시 seq를 이용하여 order_item 테이블의 객체를 삭제하는 sql -->
    <delete id="delete" parameterType="orderItemDto">
        delete from order_item
        where seq=#{seq}
    </delete>
</mapper>